
.about{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    width: 1300px;
}
.about h2{
color: white;
font-size: 3rem;
position: relative;
margin-bottom: 10rem;
margin-top: 10rem;
}
.about h2::before{
    content: "";
    position: absolute;
    left: 2rem;
    right: 0;
  top:2.75rem;
  z-index: -1;
    border-bottom: 20px solid purple;
    width: 10rem;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    transform: translateX(-300px);
    transition: transform 1.2s;

}
.fadein{
    transform: translateX(0);
}
.profilepics{
    margin-bottom: 1rem;
}
.profilepic{
    display: block;
   margin: auto;
}
.profilecontent{
    width: 500px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: white;
    
}
.skills{
    display: flex;
    justify-content: center;
}
.rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
}



.skills__item:not(:last-child) {
    margin-bottom: 3rem;
}

.skills__item {
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 100px;
    width: 160px;
    border: double 3px transparent;
    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient(#1a1a1a, #1a1a1a), radial-gradient(circle at top left, #51a2e9, #ff4d5a);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
    transition:transform 0.3s, opacity 1.2s;
   
}
.fadeto{
    opacity: 1;
}
 .skills__item img{
        overflow: clip;
        height:50px;
        width: auto;
        transition: all 0.3s;
    }
 .skillname{
        color: white;
        font-size: 1.4rem;
        font-weight: 600px;
        line-height: 1;
        letter-spacing: 1px;
    }

    .rounded{
        border-radius: 44%;
    }

@media (max-width: 1000px) {
    .skills__item {
        height: 80px;
        width: 130px;
      
    }
    .profile{
        transform: translateX(1rem);
        margin-bottom: 3rem;
      
    }
    .content{
        flex-direction: column;
    }
    .about h2{
        font-size: 3rem;
       
    }
}
@media (max-width: 1300px) {
    .skills__item {
        border-width: 2px;
    }
    .about{
        width: auto;
    }
}
@media (max-width: 1500px) {
    .skills__item {
        height: 90px;
        width: 145px;
    }
}