.navigationbar{
    position: sticky;
    display: flex;
    justify-content: flex-end;
    top: 0;
    align-items: center;
    height: 6rem;
    border-bottom: 1px solid #1a1a1a;
    background-color: rgba(40, 40, 40, 0.95);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 99999999999;
}
.navigation{
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-right: 3rem;
}
.navItems{
    color: white;
    transition: all 0.2s;
}
.navItems:not(:last-child){
    margin-right: 3rem;
}
.navItems a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:purple;
}
.active{
    color: purple;
}
@media(max-width: 1000px){
    .navItems{
        font-size: 0.9rem;
    }
    .navItems:not(:last-child){
        margin-right: 1.5rem;
    }
}