.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head {
        color: white;
        font-size: 3rem;
        position: relative;
        margin-bottom: 10rem;
        margin-top: 10rem; }
.head::before{
    content: "";
    width: 12rem;
    position: absolute;
    border-bottom: 20px solid purple;
    left: 2rem;
    top:2.75rem;
    right: 0;
    z-index: -1;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
display: flex;
position: relative;
justify-content: flex-start;
margin-bottom: 14rem;

}
.left{
    margin-left: 11rem;
}
.right{
    margin-right: 11rem;
}
.pic2{
    justify-content: flex-end;
    
}
.pic,.pic2{
    height:34rem;
    width: 60rem;
    position: relative;
    background-color: #694F8E;
    cursor: pointer;
    transform: scale(100%);
    transition: all 0.2s;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.pic{
    justify-content: flex-start;
}
.pic:hover,.pic2:hover{
transform: scale(95%);
}
.image,.image2{
    width: 80%;
    position: relative;
    background-color: #B692C2;
    height: 28rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    
}
.image{
    justify-content: flex-start;
}
.image2{
    justify-content: flex-end;
}
.image2 img{
    width: 85%;
    border-radius: 2px;
}
.image img{
    width: 85%;
    border-radius: 2px;
}
.info,.info2{
    position: relative;
    color: white;
    font-family: "Roboto";
    width: fit-content;
    top:8rem;
    padding: 1rem;
    z-index: 999;
    height: fit-content;

}
.info{
    left: -8rem;
    margin-right: -2rem;
}
.info2{
    right: -18rem;
    margin-left: -2rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 500;
}
.description{
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Roboto';
}

 a{
    text-decoration: none;
    color: inherit;
}

.live1{
    color: white;
    font-weight: 600;
display: flex;
background-color: transparent;
flex-direction: column;
justify-content: center;
letter-spacing: 3px;
font-size: 1.2rem;
padding: 1rem 0.8rem;
position: relative;
line-height: 1;
text-transform: uppercase;
align-items: center;
width: 13rem;
margin-bottom: 1.4rem;

}
.live1::after{
    content: "";
    position: absolute;
   background-color:#E3A5C7;
   transform-origin: bottom;
   bottom: 2px;
   height: 3px;
   width: 80%;
   display: block;
   z-index: -1;
}
.live1:hover{
background-color: #E3A5C7;
transition: all 0.9s;
color: inherit;
color: #1a1a1a;
}